Repository SOPT-EEWEBS/follow-detector, pull requests merged in 2023-06, with the labels that each got.

#2 Feat/#1
  Layout/MainLayout.tsx
  components/header/Header.tsx
  next.config.js
  pages/_app.tsx
  pages/_document.tsx
  styles/theme.ts
Labels: Publishing, Header

#4 Feat/#2
  .env.sample
  .gitignore
  api/axios.ts
  api/get/getFollowList.ts
  api/get/getProfile.ts
  api/hello.ts
  components/profile/Profile.tsx
  next.config.js
  package.json
  pages/home/index.tsx
  recoil/follow.ts
  recoil/hello.ts
  recoil/profile.ts
  types/follow.ts
  types/hello.ts
  types/profile.ts
  yarn.lock
Labels: Publishing, Profile, API

#7 Feat/#5
  .env.sample
  .gitignore
  Layout/MainLayout.tsx
  api/axios.ts
  api/get/getFollowList.ts
  api/get/getProfile.ts
  api/hello.ts
  components/follower/Follower.tsx
  components/header/Header.tsx
  components/profile/Profile.tsx
  next.config.js
  package.json
  pages/_app.tsx
  pages/_document.tsx
  pages/home/index.tsx
  recoil/follow.ts
  recoil/followerList.ts
  recoil/hello.ts
  recoil/profile.ts
  styles/globalStyles.ts
  styles/theme.ts
  types/follow.ts
  types/hello.ts
  types/profile.ts
  yarn.lock
Labels: Publishing, API, Follower

#8 Feat/#6
  api/get/getFollowList.ts
  components/profile/Profile.tsx
  pages/home/index.tsx
  recoil/follow.ts
  types/follow.ts
  utils/hello.ts
Labels: API, Follower, following

#11 feat/#10
  api/get/getFollowList.ts
  pages/api/followers.ts
  pages/api/followings.ts
  pages/home/index.tsx
  utils/sortFollowList.ts
Labels: API, refactor

#14 Feat/#13
  api/put/followUser.ts
  components/follower/Follower.tsx
Labels: API, Follower, following
